<html lang="en">
    <%- include("./partials/header.ejs") %>

    <body>
        <h1>Product-app</h1>
        <hr>
        <div class="container">
            <form action="/add-product" method="POST">
                <label for="name">Product name:</label>
                <input type="text" id="name" name="name" required>
                <label for="price">Price:</label>
                <input type="number" id="price" name="price" placeholder="in Rupees" min="0">
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" name="quantity" required min="0" step="1">
                <button type="submit">Add Product</button>
            </form>
        </div>

        <div class="product-list">
            <h2>Product List</h2>
            <table>
                <tr>
                    <th>S. no.</th>
                    <th>Product name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
                <% let i=1 %>
                <% products.forEach(product => { %>
                <tr>
                    <td><%= i++ %></td>
                    <td><%= product.name %></td>
                    <td><%= product.price %></td>
                    <td><%= product.quantity %></td>
                </tr>
                <% }); %>
            </table>
            <% let sum=0 %>
            <% for(product of products){ %>
            <% sum+=(product.price)*(product.quantity); %>
            <% } %>
            <h2>Total price: <%=sum%>Rupees</h2>
            
        </div>
    </body>

    <%- include("./partials/footer.ejs") %>
</html>
